<footer>
    <div class="container">
        <div class="footer">
            <div class="text-center">
                <p>Resources I use:</p>
                <ul class="footer-links-list">
                    <li><a href="http://mongoosejs.com/">mongoosejs.com</a></li>
                    <li><a href="http://www.w3schools.com/">w3schools.com</a></li>
                    <li><a href="http://www.inverse.com">inverse.com</a></li>
                    <li><a href="http://coolors.co/">coolors.co</a></li>
                    <li><a href="http://www.npmjs.com/">npmjs.com</a></li>
                    <li><a href="http://www.youtube.com/">youtube.com</a></li>
                </ul>
            </div>
            <div class="text-center">
                <p>Other projects:</p>
                <ul class="footer-links-list">
                    <li><a href="#">Online Resume</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Samples</a></li>
                </ul>
            </div>
            <div class="text-center">
                <p>Find me in social media</p>
                <ul class="footer-links-list">
                    <li><a href="#"><i class="fa fa-linkedin"></i>&nbsp; LinkedIn</a></li>
                    <li><a href="#"><i class="fa fa-github"></i>&nbsp; Github</a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i>&nbsp; Facebook</a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i>&nbsp; Youtube</a></li>
                    <li><a href="#"><i class="fa fa-vk"></i>&nbsp; VK</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>