<header>
    <div class="container">
        <div class="header-flex">
            <a href="/" class="logo">Blog</a>
            <form action="/" method="get" class="header-form">
                <input type="search" name="search" id="search" placeholder="Search..."><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="header-flex">
            <ul class="menu-nav">
                <li><a href="/category/5edd455e7fe5749869058ed3" class="menu-link">Family</a></li>
                <li><a href="/category/5edc818ecae5a1504ef0eab2" class="menu-link">Life</a></li>
                <li><a href="/category/5edd45567fe5749869058ed2" class="menu-link">Work</a></li>
                <li><a href="/category/5ee5ca1a6cbbd70b2f6f297b" class="menu-link">Tips</a></li>
                <li><a href="/category/5edd45647fe5749869058ed4" class="menu-link">Code</a></li>
            </ul>
        </div>
    </div>
</nav>