<header>
    <div class="container">
        <div class="header-flex">
            <a href="/" class="logo">Blog</a>
            <form action="/post/" method="get" class="header-form">
                <input type="search" name="search" id="search" placeholder="Search..."><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="header-flex">
            <ul class="menu-nav">
            <% categories.forEach(item => {
                if(item._id == category.id) { %>
                <li><a href="/category/<%= item._id %>" class="menu-link active"><%= item.name %></a></li>
                <% } else { %>
                <li><a href="/category/<%= item._id %>" class="menu-link"><%= item.name %></a></li>
                <% }
            }) %>
                <li><a href="/category/new" class="menu-link">Add Category</a></li>
            </ul>
        </div>
    </div>
</nav>