<header>
    <div class="container">
        <div class="header-flex">
            <a href="/" class="logo">CodeMe</a>
            <form action="/post/" method="get" class="header-form">
                <input type="text" name="search" id="search" placeholder="Search..."><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</header>
<nav>
    <div>
        <div class="nav-flex">
            <ul class="menu-nav" id="mobileNavMenu">
            <% categories.forEach(item => {
                if(item._id == category.id) { %>
                <li><a href="/category/<%= item._id %>" class="menu-link active"><%= item.name %></a></li>
                <% } else { %>
                <li><a href="/category/<%= item._id %>" class="menu-link"><%= item.name %></a></li>
                <% }
            }) %>
            <% if(user) { %>
                <li><a href="/category/new" class="menu-link">Add Category</a></li>
            <% } %>
            </ul>
            <a href="javascript:void(0)" onclick="mobileNav()" class="mobile-nav-link menu-link"><i class="fa fa-bars"></i>&nbsp;&nbsp;Navigation Menu</a>
        </div>
    </div>
</nav>