<h2>Header</h2>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/category">Show Category</a></li>
    <li><a href="/category/new">New Caregory</a></li>
    <li><a href="/category/edit">Edit Category</a></li>
    <li><a href="/post">Show Post</a></li>
    <li><a href="/post/edit">Edit Post</a></li>
    <li><a href="/post/new">New Post</a></li>
</ul>