<ul>
    <% categories.forEach(category => { %>
    <li><a href="/category/<%= category._id %>"><%= category.name %></a></li>
    <% }) %>
</ul>
<div>
    <% posts.forEach(post => { %>
    <div><a href="/post/<%= post._id %>"><%= post.title %></a></div>
    <% }) %>
</div>