<h1>Edit Category</h1>
<form action="/category/<%= category._id %>?_method=PUT" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%= category.name %>">
    <button type="submit">Edit</button>
</form>