input, select, textarea {
    font-family: var(--body-font-family);
    outline: none;
}
button {
    font-family: var(--body-font-family);
}
.header-form > input {
    border: 0;
    border-radius: 5px 0 0 20px;
    padding: .8rem 1rem;
    background-color: white;
    font-size: 1rem;
    width: 150px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}
.header-form > input:focus {
    width: 300px;
}
.header-form > button {
    cursor: pointer;
    border: 0;
    border-radius: 0 20px 10px 0;;
    padding: .8rem 1rem;
    background-color: #E9C46A;
    font-size: 1rem;
}
.header-form > button:hover {
    background-color: #F4A261;
}

.header-form > button:focus, .header-form > input:focus {
    outline: none;
}

.form-delete {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}
.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: .8rem;
    margin: 0;
    background-color: #264653;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 0;
}
.btn:hover {
    background-color: #203A44;
}
.btn-red {
    background-color: rgb(128, 0, 0);
}
.btn-red:hover {
    background-color: rgb(161, 0, 0);
}

.inline {
    display: inline-block;
}

.form-row {
    margin-bottom: 1.5rem;
}

.form-row-radio {
    padding: .8rem 0;
}

.form-row > label {
    display: block;
}
.form-row > input[type=text], .form-row > textarea, .form-row > select {
    width: 100%;
    font-size: 1rem;
    padding: .8rem;
    margin: .5rem 0;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 20%);
    resize: none;
    background-color: white;
}
.form-row > #content {
    height: 30rem;
}